// Imported Stylesheets
@import 'bootstrap.min.css'
@import 'elastislide.css'
@import 'superslides.css'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
azul = #4ec2c1
azulClaro = #9ad7d8
blue = #08274b
grisOscuro = #272822
naranja = #f27545
amarillo = rgb(235,194,16)
verde = #68b335
rosa = #a32d74
azulMarino = #3e828f
naranja = #eb8022

.gradiente
	background #fafafa url(../img/gradient.jpg) center bottom repeat-x
	border-bottom 1px solid #d5d5d5
	border-left 1px solid #d5d5d5
	border-right 1px solid #d5d5d5

// Font Variables


// Theme Styles
body
	font-family 'Gill Sans MT','Lato', sans-serif
	font-weight normal
.noPadd
	padding 0
.Tab
	text-align center
	padding-top 5px
	.Tab-item
		display inline-block
		text-align center
		margin 0 40px
		p
			margin 0
		.rect
			display inline-block
			width 12px
			height 12px
			border 2px solid black
			background transparent
			transition all 0.3s
		.current
			background black
.Tab-about
	position absolute
	top 50px
	margin-left 50%
	transform translateX(-50%)
	width 100%
	text-align center
	padding-top 5px
	background white
	.Tab-item
		display inline-block
		text-align center
		margin 0 40px
		p
			margin 0
		.rect
			display inline-block
			width 12px
			height 12px
			border 2px solid black
			background transparent
			transition all 0.3s
		.current
			background black
		
.NoMenu
	position absolute
	top 0
	width 100%
	height 100%
	z-index -20
.Header-top
	position absolute
	top 0
	width 100%
	z-index 100
.Header
	z-index 3
	position relative
	.Header-container
		background rgba(black, 0.45)
		border-right 6px solid #29605b
		.Header-logoContainer
			max-width 200px
			height 50px
			padding 2px 18px 0 18px
			.Header-logo
				width 100%

	.MainMenu
		background azul
		position absolute
		width 100%
		.MainMenu-list
			float left
			width 90%
			text-decoration none
			text-align center
			list-style none
			height 50px
			margin 0
			padding 0
			z-index 4
			.MainMenu-item
				display inline-block
				a
					line-height 50px
					color white
					text-transform uppercase
					text-decoration none
					width 100%
					float left
					padding 0 25px
				.current
					color #29605b
					font-weight bold
			.Menu-contact
				display none
		.MainMenu-contact
			float right
			width 10%
			text-align center
			line-height 50px
			border-left 1px dashed rgba(white, 0.4)
			color white
			font-size 15px

		.MainMenu-mobileMenu
			color white
			font-size 18px
			top 0
			float right
			padding 10px
			display none
			text-decoration none
		.line
			width 100%
			height 2px
			position absolute
			left 0
			bottom 0
		.shadow
			width 100%
			height 15px
			position absolute
			bottom -15px
			left 0
		
					
					
.SliderNode
	margin 0
	padding 0
	.slides-pagination
		display none
		a
			border-radius 0
			background #211915
	.slides-navigation
		.next
		.prev
			text-decoration none
			color rgba(white,0.5)
			font-size 30px
			transition all 0.2s
		.next
			margin-right 5%
			&:hover
				color white
				font-size 35px
		.prev
			margin-left 5%
			&:hover
				color white
				font-size 35px
	.SliderNode-container
		float right
		height 100%
		margin 0 auto
		position relative
		width 50%
		.SliderNode-info
			background rgba(black, .6)
			bottom 100px
			color white
			padding 0 1em
			position absolute
			width 80%
			&:before
				content ""
				top 0
				left 0
				border-bottom 10px solid rgba(black, .6)
				border-left 10px solid transparent
				border-right 10px solid transparent
				position absolute
				width 100%
				height 0
				margin-top -10px
			&:after
				content ""
				bottom 0
				left 0
				border-top 10px solid rgba(black, .6)
				border-left 10px solid transparent
				border-right 10px solid transparent
				position absolute
				width 100%
				height 0
				margin-bottom -10px
			h2
				font-size 50px
				font-weight 700
				text-transform uppercase
				line-height 42px
				width 80%
				margin-bottom 30px
			a
				color white
				text-transform uppercase
				font-size 16px
				
.FeaturedNode
	padding-bottom 3em

	.FeaturedNode-scrollButton
		cursor pointer
		position relative
		top -30px
		border-radius 25px 25px 0 0
		background white
		height 30px
		margin 0 auto
		width 50px
		text-align center
		z-index 10
		a
			position absolute
			color grisOscuro
			right 0
			left 0
			font-size 20px
			top 5px
			text-decoration none
			transition all 0.4s
	.FeaturedNode-arrow
		transform rotate(180deg)
	.FeturedNode-square
		.FeaturedNode-shadow
				position absolute
				bottom -20px
				left 0
				width 80%
				height 20px
				margin-left 50%
				transform translateX(-50%)
		.FeaturedNode-imageContainer
			height 120px
			overflow hidden
			position relative
			.FeaturedNode-trianglesLeft
				&:before
					content ""
					position absolute
					top 0
					left 0
					border-left 15px solid white
					border-right 15px solid transparent
					border-bottom 15px solid transparent
					z-index 3
				&:after
					content ""
					position absolute
					bottom 0
					left 0
					border-left 15px solid white
					border-right 15px solid transparent
					border-top 15px solid transparent
					z-index 3
			.FeaturedNode-trianglesRight
				&:before
					content ""
					position absolute
					top 0
					right 0
					border-left 15px solid transparent
					border-right 15px solid white
					border-bottom 15px solid transparent
					z-index 3
				&:after
					content ""
					position absolute
					bottom 0
					right 0
					border-left 15px solid transparent
					border-right 15px solid white
					border-top 15px solid transparent
					z-index 3
			.FeaturedNode-imageShadow
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 2
			.FeaturedNode-image
				width 100%
				transition all 0.3s
			.FeaturedNode-description
				background rgba(white, 0.8)
				bottom 20px
				color black
				font-size 18px
				margin 0
				padding 2px 0
				position absolute
				text-align center
				text-transform uppercase
				width 100%
.BarUp
	width 100%
	padding .4em
	border-top 1px solid rgba(black, 0.3)
	a
		margin-left 2em
		color black
		text-decoration none
		font-size 16px
		text-transform uppercase
	.inicioUp
		float right
		margin-right 5px

.Footer
	background azul
	color white
	margin 0
	padding 1em 1em 2em 1em
	overflow hidden
	
	.Footer-copyright
		margin-left 1em
		display inline-block
	.Footer-nav
		color white
		display inline-block
		float right
		text-align right
		list-style none
		li
			a
				color white
				text-transform uppercase
		

/* Styles for Collection */
.Category
	position relative
	border-bottom 1px solid rgba(black,0.4)
	.Category-tittle
		padding 0
		position absolute
		top 50%
		transform translateY(-50%)
		.Category-name
			color azul
			font-weight 700
			text-decoration none
			text-transform uppercase
			font-size 18px
			text-align center
			margin 0
	.CaurouselContainer
		float right
		li
			position relative
			.Category-line
				position absolute
				height 100%
				width 2px
				top 0
				right 0
		.new
			&:before
				content "NUEVO"
				padding 2px 5px
				background naranja
				position absolute
				top 0
				right 0
				color white
				
							
		.elastislide-horizontal
			padding 15px 80px 15px 15px
		.elastislide-wrapper 
			background none
			box-shadow none
			nav
				span
					background none
					border none
					border-radius none
					color rgba(black, 0.8)
					font-size 25px
					text-indent initial
					transition color 0.3s
					&:hover
						color black
				.elastislide-prev
					left initial
					right 35px
				.elastislide-prev:before
					content "\e079"
					font-family 'Glyphicons Halflings'
				.elastislide-next:before
					content "\e080"
					font-family 'Glyphicons Halflings'
/*Styles for Products*/
.Product
	margin-top 20px
	padding-bottom 30px
	border-bottom 1px solid rgba(black, 0.4)
	.Product-descriptionContainer
		.Product-description
			width 50%
			margin 0 auto
			img
				max-width 100%
			h2
				padding 0
				margin 0
				margin-top 5px
				font-weight 700
			h3
				padding 0
				margin 5px 0
				font-size 12px
				text-transform uppercase
			.shadow
				height 15px
				width 100%
			p
				margin-top 20px
				font-size 16px
	.Product-imageContainer
		.Product-figure
			width 80%
			position relative
			.Product-image
				max-width 100%
			.shadow
				position absolute
				bottom -15px
				left 0
				margin 0
				padding 0
				width 100%
				height 15px
.Specification
	margin-top 30px
	.Specification-dimensionContainer
		padding-right 10px
		.Specification-description
			width 75%
			float right
			.Specification-info
				h2
					padding 0
					margin 0
					font-weight 700
				h3
					padding 0
					margin 5px 0
					font-size 12px
					text-transform uppercase
				ul
					li
						font-weight 700
/*Materials & Process*/
.Pages
	width 100%
	text-align center
	overflow hidden
	.Pages-materials
		max-width 20%
		max-height 100%
		float left
		
		position relative
		overflow hidden

		.Pages-hover
			position absolute
			top 0
			left 0
			opacity 0
			transition all 0.3s
		.Page-materialsInfo
			background -moz-linear-gradient(top,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%)
			background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(100%,rgba(0,0,0,0)))
			background -webkit-linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%)
			background linear-gradient(top,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%)
			position absolute
			top 0
			text-align center
			width 100%
			color white
			text-transform uppercase
			transition all 0.3s
			h3
				margin 0
				margin-top 30px
				font-size 28px
				font-weight bold
				transition all 0.3s
			p
				margin-top -5px
				font-size 12px
				transition all 0.3s
			.ulContainer
				opacity 0
				text-transform none
				margin-top -40px
				display inline-block
				transition all 0.6s
				ul
					text-align left
					padding 0
		&:hover
			.Pages-hover
				opacity 1
			.Page-materialsInfo
				h3
					font-size 12px
				p
					font-size 28px
					font-weight bold
				.ulContainer
					margin-top 0
					opacity 1
/*OurReachs*/
.Reachs
	padding 0
	.Reachs-container
		margin 0
		.Reachs-info
			text-align center
			p
				bottom initial !important
				text-transform none !important
				background transparent !important
				width 75% !important
				font-weight normal !important
				position static !important
				color black !important
				text-align left !important
				margin 0 auto
			h2
				margin 0 auto
				margin-top 50px
				margin-bottom 15px
				text-align center
				font-weight bold
				width 75%
				text-align left
			.shadow
				width 75%
				
		.Reachs-reach
			padding 0
			position relative
			overflow hidden
			img
				width 100%
			.Reachs-name
				position absolute
				bottom 10%
				background black
				color white
				width 100%
				text-align center
				padding 2px 0
				text-transform uppercase
				font-weight bold
				transition all .4s
			.yellowBG
				top 0
				left 0
				content ""
				opacity 0
				position absolute
				width 100%
				height 100%
				transition all 0.3s
				background rgba(amarillo, .5)
			.greenBG
				top 0
				left 0
				content ""
				opacity 0
				position absolute
				width 100%
				height 100%
				transition all 0.3s
				background rgba(verde,0.5)
			.pinkBG
				top 0
				left 0
				content ""
				opacity 0
				position absolute
				width 100%
				height 100%
				transition all 0.3s
				background rgba(rosa,.5)
			.blueBG
				top 0
				left 0
				content ""
				opacity 0
				position absolute
				width 100%
				height 100%
				transition all 0.3s
				background rgba(azulMarino,.5)
			&:hover
				.blueBG
				.pinkBG
				.greenBG
				.yellowBG
					opacity 1
				.Reachs-name
					font-size 24px
/* About Page */
.Team
	img
		width 100%
/* Clients Page */
.Clients
	position relative
	margin-top 50px
	.Clients-client
		height 130px
		width 75%
		margin 0 auto
		text-align center
		margin-top 20px
		border-bottom 1px solid rgba(black, .3)
		position relative
		img
			max-width 100%
			max-height 100%
			position relative
	.withoutBorder
		border none
	.Clients-lines
		position absolute
		height 100%
		img
			position absolute
			top 0
			right 0
			bottom 0
			height 100%
			width 2px
.lineHorizontal2
	left 25%
.lineHorizontal3
	left 50%
@media (min-width: 1073px)
	.Header
		.MainMenu-list
			display block !important
@media (max-width: 1072px)
	.Header
		.MainMenu
			height 50px
			.MainMenu-list
				display none
				position absolute
				float none
				height initial
				width initial
				background azulClaro
				right 0
				top 50px
				.MainMenu-item
					display block
					a
						border-bottom 1px solid rgba(white,.5)
				.Menu-contact
					display block
					
			.MainMenu-contact
				display none
			.MainMenu-mobileMenu
				display block

@media (max-width: 992px)
	.FeaturedNode
		.FeaturedNode-imageContainer
			max-width 100%
			margin 0 auto
			margin-bottom 1.2em
			.FeaturedNode-image
				transform scale(1,1.3)
			
	.SliderNode
		.SliderNode-container
			width 80%

	.lineHorizontal2
		left 33.333333%
	
@media (max-width: 768px)
	.FeaturedNode
		.FeaturedNode-imageContainer
			max-width 100%
			margin-bottom 1.2em
			.FeaturedNode-image
				transform scale(1,1.5)
	.SliderNode
		.SliderNode-container
			width 100%
	.Footer
		padding 1em
		.Footer-copyright
			margin 0
			margin-top 1.5em
			text-align center
			display block
		.Footer-nav
			display block
			float none
	/*Style for Collection*/
	.Category
		position static
		.Category-tittle
			position static
			transform none
			margin-top 10px
		.CaurouselContainer
			float none
	/*Materials & Process*/
	.Pages
		.Pages-materials
			max-width 100%
