// Imported Stylesheets
@import 'bootstrap.min.css'
@import 'superslides.css'
@import 'customize.styl'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
black = #000000
blue = #08274b
gold = #e8a11c
darkerGold = #c88a16
gray = #908f8f
white = #ffffff

.gradiente
	background #fafafa url(../img/gradient.jpg) center bottom repeat-x
	border-bottom 1px solid #d5d5d5
	border-left 1px solid #d5d5d5
	border-right 1px solid #d5d5d5

// Font Variables


// Theme Styles
.Header-top
	position absolute
	top 0
	width 100%
	z-index 100
.Header
	background black
	box-shadow 0 0 8px black
	.MainMenu
		width 100%
		.MainMenu-list
			text-decoration none
			list-style none
			.MainMenu-item
				display inline-block
				margin-left 10px
				padding-top .4em
				a
					color white
					
.SliderNode
	margin 0
	padding 0
	.SliderNode-container
		float right
		position relative
		width 50%
		height 100%
		
		.SliderNode-info
			padding 0 1em
			position absolute
			bottom 50px
			width 80%
			color white
			background rgba(black, .6)
			
					