// Imported Stylesheets
@import 'bootstrap.min.css'
@import 'customize.styl'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
black = #000000
blue = #08274b
gold = #e8a11c
darkerGold = #c88a16
gray = #908f8f
white = #ffffff

.gradiente
	background #fafafa url(../img/gradient.jpg) center bottom repeat-x
	border-bottom 1px solid #d5d5d5
	border-left 1px solid #d5d5d5
	border-right 1px solid #d5d5d5

// Font Variables


// Theme Styles
